<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../../resources/js/core.js" th:src="@{/resources/js/core.js}"></script>
    <script src="../../../resources/js/jquery.twbsPagination.min.js"
            th:src="@{/resources/js/jquery.twbsPagination.min.js}"></script>
</head>
<body>

<div th:replace="fragments/layout :: header"></div>
<div class="container">
    <table class="table" cellspacing="0" id="lib">
        <thead>
        <tr>
            <td> #</td>
            <td> Title</td>
            <td> Description</td>
            <td> Genre</td>
            <td> Author</td>
            <td>
                <span class="glyphicon glyphicon-search searchBook"></span>
                <span th:if="${result.adminRole}" class="glyphicon glyphicon-plus addBook"></span>
            </td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item, itrStat : ${result.library}">
            <td th:text="${item.id}" class="id"></td>
            <td th:text="${item.title}" class="title"></td>
            <td>
                <small th:text="${item.description}" class="description"></small>
            </td>
            <td th:text="${item.genre}" class="genre"></td>
            <td th:text="${item.genreId}" class="genreId hideElement"></td>
            <td th:text="${item.authorGroupId}" class="authorsId hideElement"></td>
            <td th:text="${#strings.arrayJoin(item.authorGroup,', ')}" class="authorGroup"></td>
            <td class="nowrap">
                <span class="glyphicon glyphicon-list-alt viewBook" data-toggle="tooltip" title="View book"
                      th:attr="index=${itrStat.index}"></span>
                <span th:if="${result.adminRole}" class="glyphicon glyphicon-edit editBook" data-toggle="tooltip"
                      title="Edit book" th:attr="index=${itrStat.index}"></span>
                <span th:if="${result.adminRole}" class="glyphicon glyphicon-trash removeBook" data-toggle="tooltip"
                      title="Delete book" th:attr="index=${itrStat.index}"></span>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation">
        <ul class="pagination" id="pagination"></ul>
    </nav>

    <div th:replace="fragments/bookComponents :: viewBook"></div>
    <div th:replace="fragments/bookComponents :: editBook"></div>
    <div th:replace="fragments/bookComponents :: deleteBook"></div>
    <div th:replace="fragments/layout :: footer"></div>
    <input type="hidden" id="searchId"/>
    <input type="hidden" th:value="${result.totalPagingTab}" id="defaultPaginatorTotal"/>
</div>
</body>
</html>