<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to the Spring MVC Quickstart application! Get started quickly by signing up!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/layout :: header"></div>
<div class="container">
    <div class="text-center">
        <h1>Test task from DataTech</h1>
        <br>
        <p class="lead">
            Welcome to the test task performed by Fedotov Vasily.
            <br>
            The final version.
        </p>
        <p>
            Get started by signing in.
        </p>
        <p>
            <a class="btn btn-success btn-lg" id="signin">Sign in</a>
        </p>
    </div>
    <div th:replace="fragments/layout :: footer"></div>
</div>
<script th:inline="javascript" type="text/javascript">
    $(document).ready(function () {
        $('#signin').on('click', function () {
            $("#signin-modal").modal();
            $("#signin-modal-body").text("");
            $.ajax({
                url: "signin",
                cache: false
            }).done(function (html) {
                $("#signin-modal-body").append(html);
                $("#signin-modal-body").find(".navbar-nav").empty();

            });
        })
    });
</script>

<div th:replace="fragments/components :: modal(id='signin-modal', title='Signin')"></div>
</body>
</html>