<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
</head>
<body>

<!-- modal for view books -->
<div th:fragment="viewBook" id="viewBookModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">View Book</h4>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <td>Book</td>
                        <td class="bookName"></td>
                    </tr>
                    <tr>
                        <td>Authors</td>
                        <td class="bookAuthors"></td>
                    </tr>
                    <tr>
                        <td>Genre</td>
                        <td class="bookGenre"></td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td class="bookDesc"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- modal for edit books -->
<div th:fragment="editBook" id="editBookModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit Book</h4>
            </div>
            <div class="modal-body editBookForm">
                 <form class="form-narrow form-horizontal editBookForm" action="#" method="post">
                     <th:block th:if="${param.error != null}">
                         <div th:replace="fragments/components :: alert (type='danger', message='Sign in error. Please try again.')">
                             Alert
                         </div>
                     </th:block>
                     <fieldset>
                         <div class="form-group">
                             <div class="form-group">
                                 <input type="hidden" class="form-control" id="id" name="id"/>
                             </div>
                             <label for="bookTitle" class="col-lg-2 control-label">Title</label>
                             <div class="col-lg-10">
                                 <input type="text" class="form-control" id="bookTitle" placeholder="Title"
                                        name="title"/>
                             </div>
                         </div>
                         <div class="form-group">
                             <label for="genreId" class="col-lg-2 control-label">Genre</label>
                             <div class="col-lg-10">
                                 <select class="form-control" data-live-search="true" id="genreId">
                                 </select>
                             </div>
                         </div>
                         <div class="form-group">
                             <label for="authorGroupId" class="col-lg-2 control-label">Authors</label>
                             <div class="col-lg-10">
                                 <select class="form-control" data-live-search="true" id="authorGroupId">
                                 </select>
                             </div>
                         </div>
                         <div class="form-group">
                             <label for="deskText" class="col-lg-2 control-label">Description</label>
                             <div class="col-lg-10">
                                             <textarea rows="5" class="form-control" id="deskText"
                                                       placeholder="Description"
                                                       name="description"></textarea>
                             </div>
                         </div>
                     </fieldset>
                     <div class="form-group modal-footer">
                         <div class="col-lg-offset-2 col-lg-10">
                             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                             <button type="button" class="btn btn-default saveEdit" data-dismiss="modal">Save</button>
                         </div>
                     </div>
                 </form>
            </div>
        </div>
    </div>
</div>

<!-- modal for delete books -->
<div th:fragment="deleteBook" id="deleteBookModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                <h3>Delete</h3>
            </div>
            <div class="modal-body">
                <p>You are about to delete : <span class="bookTitle"></span></p>
                <p>Do you want to proceed?</p>
                <input type="hidden" class="bookId">
            </div>
            <div class="modal-footer">
                <a href="#" id="bookDeleteYes" class="btn danger">Yes</a>
                <a href="#" data-dismiss="modal" aria-hidden="true" class="btn secondary">No</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>